name: Build and Deploy
on:
  push:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Install and Build
        run: |
          export NVM_DIR="$HOME/.nvm"
          [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
          nvm use stable   # 或你安装 pnpm 的 Node 版本
          pnpm install
          pnpm build

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Clean output directory
        run: |
          rm -rf /home/ubuntu/fhb/jyuacmblog
          mkdir -p /home/ubuntu/fhb/jyuacmblog

      - name: Copy build outputs
        run: |
          cp -r dist/* /home/ubuntu/fhb/jyuacmblog
